$gray-one: #212e4c;
$gray-two: #f2f2f7;
$gray-three: #d9d9d9;
$red: #ff006a;

$card-background: #f0f3ff;
$text-color: #333333;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
