@import "../../styles/variables";

.card {
  background-color: $card-background;
  border-radius: 8px;
  max-width: 205px;
  width: 100%;
  height: 285px;
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  padding: 14px;
  font-weight: 500;
  color: $gray-one;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    z-index: 10;
  }

  h3 {
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
  }

  img {
    height: 145px;
    width: 145px;
    margin-bottom: 12px;
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  p {
    color: green;
    text-transform: capitalize;
  }
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
