@import "../../styles/variables";

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray-three;

  a {
    font-family: "Montserrat", sans-serif;
    padding: 0 0.5rem;
  }
}
