@import "../../styles/variables";

.searchContainer {
  margin: 0 auto 2rem;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  position: relative;
  max-width: 720px;

  input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
    border-radius: 30px;
    background-color: $card-background;
    border: none;

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
  svg {
    color: $gray-one;
  }

  .searchIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
}
